<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Subject: Your import for file segment is completed.</h2>
  <p>Hi Dear, </p>
  <p>Your edit file segment is updated successfully!</p>
  <p></p>

  <p>Thank you</p>
</body>
</html>