.de-ab-table{
    width: 100%;
    & >thead,&>tbody{
        tr{
            td:first-child, 
            th:first-child{
                width: 20%;
            }
        }
    }
    & >tbody{
        &::before{
            content: "-";
            display: block;
            line-height: 1em;
            color: transparent;
        }
    }
}
.de-seperator-light{
    border-color: $theme-color-3;
}
.de-selection-label p{
    line-height: 36px;
    margin-bottom: 0;
    font-weight: bold;
}