<html>
  <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Subject: Query Filter Rerun Success</h2>
    <p>It is to inform you that Filter Query rerun by you is successfully executed.</p>
    <p>Query Description: <%= @filter_desc%> </p>
    <p>Thank you</p>
  </body>
</html>