<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Subject: Your export contacts file is completed.</h2>
  <p>Dear <%= @username %>,</p>
  <p>It is to inform you that the report for export contacts file you started is completed. Please click on the below link to download the file.</p>
  
  <p></p>
  <a href="<%= @file_url %>" target="_blank">Click to download file</a>

  <p>Thank you</p>
</body>
</html>